# Byte-compiled / optimized / DLL files
__pycache__/
__**__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Ignore env files
.env*
!env.example

# Ignore claude config
.claude/

# Ignore saved-tree
saved-tree/**
.coverage
